<div class="btn-group mr-2" role="group" aria-label="First group">
    <label for="basic-msg" class="form-label" style="margin-top:5px;width:300px;">
        <strong>
            Introduzca la fecha:
        </strong>
    </label>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input type='date' name="dateValue" id='dateSearchGps' class="form-control">
        <input type='submit' class="btn btn-primary" id="buttonValueDate" name="buttonValueDate" value="Buscar"/>
    </div>
</div>
