<div class="container-fluid"><br>

  <div class="row">
    <div class="col">
      <h3><strong>Temperatura (°C): <span id="tempValue"></span></strong></h3>
      <div style="height: 300px;">
        <canvas id="tempChart"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3><strong>Humedad (%): <span id="humValue"></span></strong></h3>
      <div style="height: 300px;">
        <canvas id="humidityChart"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3><strong>Presión (hPa): <span id="pressValue"></span></strong></h3>
      <div style="height: 300px;">
        <canvas id="pressureChart"></canvas>
      </div>
    </div>
  </div>

</div>
