<nav class=" sb-topnav navbar navbar-expand navbar-dark bg-dark">
	<a	class="navbar-brand" href="/dashboard">
		<button	class="btn btn-link btn-sm ml-2" id="sidebarToggle"	href="#">
			<i	class="fas fa-bars"></i>
		</button>
		<i	class="fa fa-paw" aria-hidden="true"></i>
		{{ maintitle }}
	</a>
</nav>
